IntelliMailClient/IntelliMailClient/Service References/QuestionService/QuestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/QuestionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/QuestionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionService_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionService">
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestions" message="tns:IQuestionService_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsResponse" message="tns:IQuestionService_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestion" message="tns:IQuestionService_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionResponse" message="tns:IQuestionService_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/CreateQuestion" message="tns:IQuestionService_CreateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/CreateQuestionResponse" message="tns:IQuestionService_CreateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/UpdateQuestion" message="tns:IQuestionService_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/UpdateQuestionResponse" message="tns:IQuestionService_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="QuestionService" />
</wsdl:definitions>