IntelliMailClient/IntelliMailClient/Service References/QuestionService/QuestionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://81.204.121.229/IntelliCloudService/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" />
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q1:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetQuestionResult" nillable="true" type="q2:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>