IntelliMailClient/IntelliMailClient/Service References/IntelliCloud/IntelliCloudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://81.204.121.229/IntelliCloudService/IntelliCloudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" />
  <xs:element name="AskQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answererId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q1:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedback" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedback" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReviewForAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReviewForAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetReviewsForAnswerResult" nillable="true" type="q2:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersUpForReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersUpForReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetAnswersUpForReviewResult" nillable="true" type="q3:ArrayOfAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetAnswerByIdResult" nillable="true" type="q4:Answer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" minOccurs="0" name="GetQuestionByIdResult" nillable="true" type="q5:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>