IntelliMailClient/IntelliMailClient/Service References/IntelliCloud/IntelliCloudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntelliCloudService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/IntelliCloudService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/IntelliCloudService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://81.204.121.229/IntelliCloudService/IntelliCloudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/nl.fhict.IntelliCloud.Common.DataTransfer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntelliCloudService_AskQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestion" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_AskQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_SendAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_SendAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_CreateAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_CreateAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_UpdateAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_UpdateAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_AcceptAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_AcceptAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_DeclineAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_DeclineAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_SendReviewForAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendReviewForAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_SendReviewForAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendReviewForAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_UpdateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReview" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_UpdateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetReviewsForAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewsForAnswer" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetReviewsForAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewsForAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetAnswersUpForReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswersUpForReview" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetAnswersUpForReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswersUpForReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetAnswerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswerById" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetAnswerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetQuestionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionById" />
  </wsdl:message>
  <wsdl:message name="IIntelliCloudService_GetQuestionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntelliCloudService">
    <wsdl:operation name="AskQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/AskQuestion" message="tns:IIntelliCloudService_AskQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/AskQuestionResponse" message="tns:IIntelliCloudService_AskQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/SendAnswer" message="tns:IIntelliCloudService_SendAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/SendAnswerResponse" message="tns:IIntelliCloudService_SendAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/CreateAnswer" message="tns:IIntelliCloudService_CreateAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/CreateAnswerResponse" message="tns:IIntelliCloudService_CreateAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/UpdateAnswer" message="tns:IIntelliCloudService_UpdateAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/UpdateAnswerResponse" message="tns:IIntelliCloudService_UpdateAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/GetQuestions" message="tns:IIntelliCloudService_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/GetQuestionsResponse" message="tns:IIntelliCloudService_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/AcceptAnswer" message="tns:IIntelliCloudService_AcceptAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/AcceptAnswerResponse" message="tns:IIntelliCloudService_AcceptAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclineAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/DeclineAnswer" message="tns:IIntelliCloudService_DeclineAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/DeclineAnswerResponse" message="tns:IIntelliCloudService_DeclineAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendReviewForAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/SendReviewForAnswer" message="tns:IIntelliCloudService_SendReviewForAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/SendReviewForAnswerResponse" message="tns:IIntelliCloudService_SendReviewForAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/UpdateReview" message="tns:IIntelliCloudService_UpdateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/UpdateReviewResponse" message="tns:IIntelliCloudService_UpdateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewsForAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/GetReviewsForAnswer" message="tns:IIntelliCloudService_GetReviewsForAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/GetReviewsForAnswerResponse" message="tns:IIntelliCloudService_GetReviewsForAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswersUpForReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/GetAnswersUpForReview" message="tns:IIntelliCloudService_GetAnswersUpForReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/GetAnswersUpForReviewResponse" message="tns:IIntelliCloudService_GetAnswersUpForReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/GetAnswerById" message="tns:IIntelliCloudService_GetAnswerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/GetAnswerByIdResponse" message="tns:IIntelliCloudService_GetAnswerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntelliCloudService/GetQuestionById" message="tns:IIntelliCloudService_GetQuestionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntelliCloudService/GetQuestionByIdResponse" message="tns:IIntelliCloudService_GetQuestionById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="IntelliCloudService" />
</wsdl:definitions>