IntelliCloud/IntelliCloud.Data/Service References/WordStoreService/WordService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntelliCloud.WordStore.Common.Word" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntelliCloud.WordStore.Common.Word" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="true" type="tns:Word" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWord" nillable="true" type="tns:ArrayOfWord" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" type="tns:Language" />
      <xs:element minOccurs="0" name="Type" type="tns:WordType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:simpleType name="Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="Dutch" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:simpleType name="WordType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Verb" />
      <xs:enumeration value="Noun" />
      <xs:enumeration value="Interjection" />
      <xs:enumeration value="Adverb" />
      <xs:enumeration value="Adjective" />
      <xs:enumeration value="Pronoun" />
      <xs:enumeration value="Article" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WordType" nillable="true" type="tns:WordType" />
</xs:schema>