IntelliCloud/IntelliCloud.Business/Service References/WordService/WordService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://81.204.121.229/WordStoreService/WordService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IntelliCloud.WordStore.Common.Word" />
  <xs:element name="ResolveWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntelliCloud.WordStore.Common.Word" minOccurs="0" name="ResolveWordResult" nillable="true" type="q1:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>